*{
    margin: 0;
    padding: 0;

}

header{
    
    background: url("../imagenes/portadas.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
footer{
    background-color: black;
    color: white;
    padding: 100px 20px;
    text-align: center;
   
}

.Main{
    height:100vh;
    width: 90%;
    max-width: 1000px;
    
}
.Main h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: inline-end;
    margin: 200px 200px;
    color: white;
}
.logo img{
    position: relative;
    left: 50px;
    top: 50px;
    width: 100px;
}
.Pagina ul a{
    position: relative;;
    left: 170px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    
}
.dispositivas{
    position: absolute;
    left: 700px;
    top: 200px;
     
    width: 500px;
   
}

.dispositivas img{
    width: 100%;
    
}

.slidesjs-pagination{
    background: #238dca;
    list-style: none;
    overflow: hidden;
}
.slidesjs-pagination li{
    float: left;
}
.slidesjs-pagination li a{
    display: block;
    padding: 10px 20px;
    color: #238dca;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    float: right;
}

.slidesjs-pagination li a:hover{
    background: #238dca;
}
.dispositivas .active{
    background: #238dca;
}
.slidesjs-navigation{
    background: #238dca;
    color: #238dca;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    float: right;

}
.Botones{
    padding: 50px 20px;
}
.Botones h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    text-align: center;

}
.Botones button{
    background: black;
    display: block;
    margin: 100px 10px 50px 50px;
    display: inline-block;
}

.Video{
    padding: 30px 20px;
}
.Video video{
    width: 700px;
    float: left;
    

}
.Video h1{
   position: absolute;
   left: 750px;
   top: 1300px;
   color: black;
}

.Beneficio img{
    margin-top: 100px ;
}
.Beneficio h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: blue;
    position: absolute;
    top: 1660px;
    left: 500px;

}